* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

main > section {
  grid-column: 2/3;
}

html {
  scroll-behavior: smooth;
  margin: 0rem;
}

body {
  margin: 0rem;
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.5;
  background-color: #f8f3e8;
}

#section1 svg {
  display: flex;
  margin: auto;
  margin-top: 5rem;
}
