* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

main > section {
  grid-column: 2/3;
}

html {
  scroll-behavior: smooth;
  margin: 0rem;
}

body {
  margin: 0rem;
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.5;
  background-color: #f8f3e8;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 0.8rem;
}

#section1 svg {
  display: flex;
  margin: auto;
  margin-top: 5rem;
}

@media (min-width: 750px) {
  #section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
  }
}
#section2 article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5rem;
}

#section2 figure {
  display: flex;
  align-self: center;
  padding: 3rem;
  width: 80%;
}

#section3 {
  margin-top: 5rem;
  padding: 4rem;
}

#section3 article {
  display: flex;
  flex-direction: column;
  margin-left: 5 rem;
  padding: 4rem;
}

#section3 img {
  margin: 2rem;
}
